
<!--Acerca de (Mostrar los datos personales de cada miembro, 
    su foto y los módulos o partes que desarrolló cada quien)
-->
<div class="container">
    <div class="jumbotron row">
        <h1 class="text-center">Informacion</h1>
        <div class="container col-md-6">
            <img src="~/img/foto.jpg" />
            <h3>Manuel Eduardo Sanchez Valdez</h3>
            <h4>2017-4921</h4>
            <ul>
                <li>Vincular Aplicacion con Facebook</li>
                <li>Consulta de asignaturas</li>
                <li>Agenda Electronica</li>
                
            </ul>
        </div>
        <div class="container col-md-6">
            <img src="~/img/foto2.jpeg" class="foto" />
            <h3>Luis David Ferreras Ferreras</h3>
            <h4>2017-5089</h4>
            <ul>
                <li>Lector de Achivos de Excel</li>
                <li>Seccion de Inicio</li>
                <li>Seccion de Acerca de</li>
                .
            </ul>
        </div>
    </div>
</div>