
@{
    ViewBag.Title = "Agenda";
}

<h2>Agenda</h2>

<hr />
@Html.ActionLink("Contactos", "index", "contactoes", "", new { @class = "btn btn-lg btn-warning" })

<br>

<hr />
@Html.ActionLink("Eventos", "index", "Eventoes", "",new { @class = "btn btn-lg btn-warning" })
