@{
    ViewBag.Title = "Home Page";
}


@model System.Data.DataTable
@using System.Data;


<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>
    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' id='dataFile' name='upload' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }

    function clear() {
        var input = $("#dataFile").val('');
    };
    $(function () {
        clear();
        bs_input_file();
    });
</script>

@using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="info2">
        <h2>Browse File for uploading</h2>
        @Html.AntiForgeryToken()

        <div class="form-group" name="Fichier1">

            <input type="file" id="dataFile" name="upload" class="btn btn-primary" />

        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>


        <div class="alert alert-danger">
            @Html.ValidationSummary()
            @*<strong></strong> asdasd*@
        </div>



    </div>
    if (Model != null)
    {
        <table id="table1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @foreach (DataColumn col in Model.Columns)
                    {
                        <th>@col.ColumnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn col in Model.Columns)
                        {
                            <td>@row[col.ColumnName]</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}

<script>
    $(document).ready(function () {
        $("table1").DataTable();
    });
</script>