
@{
    ViewBag.Title = "Inicio";
}

<h1>Bienvenido</h1>
<hr />
<h3>Parte practica del segundo examen parcial de Programacion III</h3
<h4>Este proyecto consiste en:</h4>
<ul>
    <li>
        Vincular la aplicación con Facebook, para que se inicie sesión en la aplicación con las credenciales de esta red social.
    </li>
    <li>
        Consulta de asignaturas en curso:  Un formulario donde se elija el miembro del grupo a consultar y que muestre las asignaturas dicho miembro del grupo está cursando este cuatrimestre. Debe recuperar esa información de una tabla de la base de datos.
    </li>
    <li>
        Agenda electrónica: Consistirá en dos funcionalidades.
        Un 1er módulo donde se pueda registrar, editar, consultar y eliminar contactos personales. Los datos de los contactos serán:

        (Nombre, celular,email y dirección)

        Integrar la funcionalidad de buscar por nombre y por número de celular

        Un 2do módulo donde se registren, editen, consulten y eliminen eventos. Los datos serán

        (Evento, fecha, hora)

        Integrar la funcionalidad de buscar por evento y por fecha

    </li>

    <li>
        Lector de Archivos (Cargar y mostrar en la vista los datos de un archivo de Excel. No se requiere que sea almacenado)
    </li>
    <li>
        Acerca de (Mostrar los datos personales de cada miembro, su foto y los módulos o partes que desarrolló cada quien)
    </li>

</ul>